
            
            h1 {
                border: 0px solid black;
            -webkit-transition-property: all; 
-webkit-transition-duration: 0.3s; 
-webkit-transition-timing-function: ease;

            }

            h1:hover {
                transform: scale(1.2);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

            }

            .topnav {
                background-color: white;
                overflow: hidden;
            }

            .topnav a {

            }

            img {
     width: 400px;
     height: 400px;
	 border: 0px solid black;
	 padding: 5px;
   }
   img:hover {
      box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
   }

            .thumbnail { 
        display: inline-block;
          -webkit-transition-property: all; 
          -webkit-transition-duration: 0.3s; 
    -webkit-transition-timing-function: ease;  
} 

.thumbnail:hover { 
        transform: scale(1.2);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.games {
    display: inline-block;
    -webkit-transition-property: all; 
    -webkit-transition-duration: 0.3s; 
    -webkit-transition-timing-function: ease; 
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: gold;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-style: italic;
    color: gold;
    -webkit-text-stroke: 1px black;
    font-weight: bold;
    -webkit-transition-property: all; 
    -webkit-transition-duration: 0.3s; 
    -webkit-transition-timing-function: ease; 
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    color:black;
    transform: scale(1.2);
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }